.liens{
    list-style-type: none;
    display:inline;
    margin-right: 2em;
    text-decoration: none;
    color: #333;
    font-size: 25px;
    display:flex;
    flex:row;
}
.liens :hover{
    color: rgb(241 17 17);
}

.logo figure img{
    width:20%;
    height:auto;
    display:flex;
}
.logo{
display: flex;
flex-direction: row;
}
.toronto figcaption:hover{
    opacity: 0.33;
    transition: 500ms ease-in-out
}
.redline{
    background-color: red;
}

