body{
    font-family: times,serif;
    color: rgb(255,255,255);
    width: 100%;
    background-image:url("fond.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.titre{
    background-color: rgb(33, 216, 216);
}
.sous-titre{
text-align:center;
font-style: italic;
font-weight: bold;
font-size: 35px;
color: aquamarine;
}