body{
    font-family: times,serif;
    color: rgb(255,255,255);
    width: 100%;
    background-image:url("fond.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
#titre{
    background-color: rgb(33, 216, 216);
}
#sous-titre{
text-align:center;
font-style: italic;
font-weight: bold;
font-size: 35px;
color: aquamarine;
}
#texte{
font-size:35px;
}
.citation{
width: 7cm;
height: 5cm;
padding: 1em;
}
.génie p{
font-size: 28px;
width:35em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: justify;
line-height: 1-2;
}
.génie p:hover{
    transform:scale(1.2);
}